@import "vanilla-framework";
@include vanilla;

* {
    box-sizing: border-box;
}

body {
    padding: 5px;
}

.App{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

hr {
    border-top: 0px dotted;
  }
  
